# Ignore project data
data/

# Ignore each project's local environment
conda-env/
venv/
sparkle-ve/

# Ignore python compiled bytecode
__pycache__/
*.pyc

# Ignore the silly .DS_Store files
.DS_Store

# Ignore Jupyter's checkpoint notebooks
.ipynb_checkpoints/

# Ignore vim's .swp files
*.swp

# Ignore egg info
*.egg-info

# Ignore local test DB
*.db

# Ignore pre-commit config
.pre-commit-config.yaml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
