# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*   @msarmi9

# We can also add codeowners for specific file patterns
# Each team member will be the owner of their own notebooks
AC.*ipynb @ajcheon
SJ.*ipynb @steph-jung
CP.*ipynb @collinprather
MS.*ipynb @msarmi9
KW.*ipynb @kbengtsonwong

