{% extends "index.html" %}

{% block splash %}
	<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166039427-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-166039427-1');
	</script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sparkle Home</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/landing-page.min.css') }}" rel="stylesheet">
</head>

<body>
  <!-- Masthead -->
  <header class="masthead text-white text-center">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1>Lift off to better health outcomes.</h1>
          <h2 class="mb-5">Mission control for medication adherence</h2>
        </div>
        <div class="embed-responsive embed-responsive-16by9 col-xl-7 col-centered mx-auto">
          <iframe class = "embed-responsive" src="https://www.youtube-nocookie.com/embed/3HuoyBIA94o?vq=hd1080&rel=0"
                  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row mb-5" style="padding-top: 1.2cm; width: 60%; margin: auto;">
              <div class="col-12 col-md-6 mb-2 mb-md-0">
                <a class="btn btn-block btn-lg btn-primary" href="/about" role="button"
                   onclick="gtag('event','click',{'event_category':'engagement', 'event_label':'about-page', 'value':1})">
                   	Learn more
                </a>
              </div>
              <div class="col-12 col-md-6">
                <a class="btn btn-block btn-lg btn-primary" href="/register" role="button">Sign up</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>


  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Automation</h3>
            <p class="lead mb-0">Elevate your practice with artificial intelligence.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Integration</h3>
            <p class="lead mb-0">Featuring cross-platform functionality.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Accountability</h3>
            <p class="lead mb-0">Keep patients healthy and on-track with medication schedules.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({{ url_for('static', filename='img/bg-showcase-1.jpg') }});"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Verify Intake Automatically</h2>
          <p class="lead mb-0">When your patients use the Sparkle iOS apps, they will get a reminder when it’s time to take their medication. We use sensor data and machine learning to automatically track and verify pill intake, which you’ll be able to see instantly on your online dashboard.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('{{ url_for('static', filename='img/bg-showcase-2.jpg') }}');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>A Fully Integrated Platform</h2>
          <p class="lead mb-0">This is a product for doctors that’s as simple as an online log-in, accessible anywhere. You’ll enter prescribed medications for your patients, which will reflect on their iOS mobile apps. Both doctor and patient apps interface using an AWS server that propagates information and intakes instantly back-and-forth.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({{ url_for('static', filename='img/bg-showcase-3.jpg') }});"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Keep Patients Accountable</h2>
          <p class="lead mb-0">You don’t have to just trust that your patients are taking their medications as prescribed. With Sparkle, you’ll have access and insight like never-before into your patients’ adherence habits. With our online dashboard, you’ll have access to a bird’s-eye view of your patients’ adherence patterns – and be able to quickly spot patients who are deviating from proper treatment.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">What people are saying...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{{ url_for('static', filename='img/testimonials-1.jpg') }}" alt="">
            <h5>Margaret</h5>
            <p class="font-weight-light mb-0">"I haven’t missed any of my medications for a long time.  This is fantastic!  Thank you guys!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{{ url_for('static', filename='img/testimonials-2.jpg') }}" alt="">
            <h5>Nidhi S.</h5>
            <p class="font-weight-light mb-0">"I find the apps intuitive and actually fun to use, and my relationship with my doctor has never been better."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{{ url_for('static', filename='img/testimonials-3.jpg') }}" alt="">
            <h5>Sara W.</h5>
            <p class="font-weight-light mb-0">"Using this platform has noticeably improved my patients’ health and made medication adherence management possible and my life easy."</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started?</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        	<a class="btn btn-block btn-lg btn-primary"
        	   style="max-width: 30%; margin: auto;"
        	   href="/register" role="button">Sign up</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <p class="text-muted small mb-4 mb-lg-0">&copy; Sparkle.ai 2020. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>

{% endblock %}
