{% extends "base.html" %}

{% block patients %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">All Patients</h1>
      </div>

    <div class="h5 mb-0 font-weight-bold text-gray-800">
        <p><a href="/new-patient"><i class="fas fa-plus text-blue-300"></i> Add patient</a></p>
    </div>

    <div class="row">

    <!-- All Patients -->
    {% for p in view_patients %}
    <div class="col-xl-3 col-md-6 mb-4" style="padding-bottom: 10px">
        {% set highlight = "warning" if not p.prescriptions else "success" if p.is_adherent() else "danger" %}
        <div class="card border-left-{{ highlight }} shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">

                <div class="col mr-2">
                    <div class="text-s font-weight-bold text-{{ highlight }} text-uppercase mb-1" style="padding-bottom: 5px;">
                        <b>{{ p.lastname }}</b>, {{ p.firstname }}
                    </div>
                    <div class="h6 mb-0 font-weight-medium text-gray-800" style="padding-bottom: 2px">
                        Age: {{ p.age }}
                    </div>
                    <div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">
                        {{ p.prescriptions | length }} prescription{{'' if p.prescriptions | length == 1 else 's' }}
                    </div>
                </div>
            </div>

            <div style="padding-top: 8px; padding-bottom: 18px">
                {% for rx in p.prescriptions %}
                    {% set rx_highlight = "secondary" if not rx.has_started() else "success" if rx.is_adherent() else "danger" %}
                    <span class="badge badge-pill badge-{{ rx_highlight }}">
                        {{ rx.drug }}
                    </span>
                {% endfor %}
            </div>

                <div style="position: absolute; bottom: 12px" class="text-s font-weight-bold text-warning">
                    <a href="/patients/{{ p.id }}" class="card-link" style="postion: absolute; bottom: 0px">Profile</a>
                    <a href="/patients/{{ p.id }}/new-prescription" class="card-link">New prescription</a>
                </div>
            </div>

          </div>
        </div>
        {% endfor %}

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

{% endblock %}
