{% extends "base.html" %}
{% block profile %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800"><b>{{ patient.lastname }}</b>, {{ patient.firstname }}</h1>
          <div>
          	<p>Email: {{ patient.email }}</p>
	    	<p>Age: {{ patient.age }}</p>
	    	<p>Weight: {{ patient.weight }}</p>

      		</div>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3 h5 mb-0 font-weight-bold text-gray-800">
                <!-- <h6 class="m-0 font-weight-bold text-primary">Prescriptions</h6> -->
                <!-- <div class="h5 mb-0 font-weight-bold text-gray-800"> -->
				<p><a href="/patients/{{ patient.id }}/new-prescription"><i class="fas fa-plus text-blue-300"></i> Add prescription</a></p>
			    <!-- </div> -->
            </div>




            <div class="card-body">
            <div class="table-responsive">

            {% if prescriptions|length > 0 %}
            <table class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
			  <thead>
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Drug</th>
			      <th scope="col">Indication</th>
			      <th scope="col">Dose</th> <!-- strength -->
			      <th scope="col">Frequency</th> <!-- <amount> <form> <freq>x per <freq_repeat> <freq_repeat_unit> -->
			      <th scope="col">Quantity</th>
			      <th scope="col">Start</th>
			      <th scope="col">Refill by</th>
			      <th scope="col" class="col-progress">On track</th>
			      <th scope="col" class="col-progress">On time</th>
			    </tr>
			  </thead>
			  <tbody>
			     {% for rx in prescriptions %}
				    <tr class="{% if rx.is_adherent() %}table-light{% else %}table-danger{% endif %}">
				      <th scope="row">{{ rx.id }}</th>
				      <td>{{ rx.drug }}</td>
				      <td>{{ rx.desc }}</td>
				      <td>{{ rx.strength }} {{ rx.strength_unit }}</td>
				      <td>
				      	{{ rx.amount }} {{ rx.form }} {{ rx.route }}ly {{ rx.freq }}x
				      	{% if rx.freq_repeat == 1 and rx.freq_repeat_unit == 'day' %}
				      		daily
				      	{% else %}
				      		every {{ rx.freq_repeat }}
				      		{% if rx.freq_repeat == 1 %}
				      			{{ rx.freq_unit }}
				      		{% else %}
				      			{{ rx.freq_unit }}s
							{% endif %}
				      	{% endif %}
				      </td>
				      <td>{{ rx.quantity }}</td>
				      <td>{{ rx.start_date.strftime("%d %b %Y") }}</td>
				      <td>
				      	{% if rx.next_refill_date() is none %}
				      		N/A
				      	{% else %}
				      		{{ rx.next_refill_date().strftime("%d %b %Y") }}
				      	{% endif %}
				  	  </td>
				      <td>
				      	{% if rx.has_started() %}
					      	<div class="progress">
							  <div class="progress-bar bg-{% if rx.frac_required_intakes()*100 < 33 %}danger{% elif rx.frac_required_intakes()*100 < 66 %}warning{% else %}success{% endif %}" role="progressbar"
							  	   style="width: {{ rx.frac_required_intakes()*100 }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
							  	{{ (rx.frac_required_intakes()*100)|int }}%
							  </div>
							</div>
						{% else %}
							N/A
						{% endif %}
					   </td>
					   <td>
				      	{% if rx.has_started() %}
					      	<div class="progress">
							  <div class="progress-bar bg-{% if rx.frac_on_time()*100 < 33 %}danger{% elif rx.frac_on_time()*100 < 66 %}warning{% else %}success{% endif %}" role="progressbar"
							  	   style="width: {{ rx.frac_on_time()*100 }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
							  	{{ (rx.frac_on_time()*100)|int }}%
							  </div>
							</div>
						{% else %}
							N/A
						{% endif %}
					   </td>
				    </tr>
			      {% endfor %}
			  </tbody>
			</table>
		{% endif %}

		</div>









              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->



{% endblock %}
