{% extends "index.html" %}

{% block about %}
<div class="container main">
 	<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">About Sparkle.ai</h1>
        <br>
        <p class="lead"><i>"The treatment of chronic illnesses commonly includes the long-term use of pharmacotherapy.  Although these medications are effective in combating disease, their full benefits are often not realized because approximately 50% of patients do not take their medications as prescribed."</i> - Mayo Clinic</p>

      	<br><br>
        <h2 style="text-align:left">A Medication Adherence Platform</h2>
        <p class="lead" style="text-align:left">In the U.S. alone, hospitalizations due to medication non-adherence cost an estimated $289B annually. A system that can reliably verify whether patients have taken their medication as prescribed by their doctor is the first big step to solving this problem.  Such a system has the potential to drastically improve patient outcomes and save billions of dollars in <i>healthcare, insurance, and patient costs.</i>
        <br><br>
    	Sparkle.ai grew out of an Apache Spark-based research project, which used distributed machine learning (ML) and wearable technology to detect low pill count in prescription pill bottles, seeking to prevent overdoses.  It has since grown past its initial origins into a comprehensive medication adherence platform for doctors and patients – which seeks to provide an intelligent solution to this problem. </p>
        <br>

        <h2 style="text-align:left">How It Works</h2>
        <p class="lead" style="text-align:left">Because barriers to poor medication adherence are complex and varied, the solution itself must be multifaceted.  We have devised a solution where:</p>
  
  		<h7>
        <ol style="text-align:left"><font size=4>
          <li>Healthcare providers (i.e. doctors, nurses, pharmacists) log-in and input a patient's medication schedule on our web portal.  Specifically, they can upload medications critical to the patient's health – or generally for patients with a history of medication nonadherence.</li>
          <li>This schedule is automatically propogated to patients' iPhones & Apple Watch mobile apps.</li>
          <li>Patients receive alerts to take their medication at designated times.</li>
          <li>At the time of intake, the patient launches the app and records an intake.  Watch sensor data is processed with machine learning (ML) to automatically verify pill intake, and predict the estimate number of pills remaining.</li>
          <li>This information is reflected instantly on the web portal, where providers can track patient adherence over time, quickly see deviating patients, and take preventative action.</li></font>
        </ol>
        </h7>

        <br>
        <h2 style="text-align:left">Why Us?</h2>
        <p class="lead" style="text-align:left">Sparkle.ai provides a comprehensive medication monitoring system that is unlike anything on the market to date. Whereas other medication adherence applications require users to manually input a detailed intake schedule for each prescription they take, Sparkle reverses this paradigm so that healthcare providers have control and access like never before.</p>



      </div>
    </div>
 	</div>

</div>
{% endblock %}