{% extends "index.html" %}

{% block add_patient %}
	<div class="container main">
		<h3>New patient</h3>
	    <form method="POST">
	    	{{ form.csrf_token }}
	    	<div class="form-group">
	    		<label for="firstname">{{ form.firstname.label }}</label>
	    		<input id="firstname" class="form-control" name="firstname" required>
			</div>
			<div class="form-group">
	    		<label for="lastname">{{ form.lastname.label }}</label>
	    		<input id="lastname" class="form-control" name="lastname" required>
			</div>
			<div class="form-group">
	    		<label for="email">{{ form.email.label }}</label>
	    		<input id="email" class="form-control" name="email">
			</div>
			<div class="form-group">
	    		<label for="age">{{ form.age.label }}</label>
	    		<input id="age" class="form-control" name="age">
			</div>
			<div class="form-group">
	    		<label for="weight">{{ form.weight.label }}</label>
	    		<input id="weight" class="form-control" name="weight">
			</div>
			<button type="submit" class="btn btn-primary">Add patient</button>
	    </form>
	</div>
{% endblock %}