{% extends "index.html" %}

{% block cards %}
	<div class="container main">
		<h3>Dashboard</h3>
		<br><br>
		<div class="card-columns card-deck">
			{% for p in patients %}
				<div class="card bg-light patient-card" style="width: 18rem;">
				  <div class="card-body">
				    <h5 class="card-title">{{ p.lastname }}, {{ p.firstname }}</h5>
				    <h6 class="card-subtitle mb-2 text-muted">Age: {{ p.age }}</h6>
				    <h6 class="card-subtitle mb-2 text-muted">
				    	{{ p.prescriptions|length }} prescription{{'' if p.prescriptions|length == 1 else 's' }}
					</h6>
					<h6 class="card-subtitle mb-2">Adherent: {{ p.is_adherent() }}</h6>
				    <div>
				    	{% for rx in p.prescriptions %}
				    		{% if not rx.has_started() %}
				    			<span class="badge badge-pill badge-secondary">
				    				{{ rx.drug }}
				    			</span>
				    		{% else %}
				    			<span class="badge badge-pill badge-{% if not rx.is_adherent() %}danger{% else %}success{% endif %}">
				    				{{ rx.drug }}
				    			</span>
							{% endif %}
						{% endfor %}
				    </div>
				    <div style="padding-top: 10px;">
					    <a href="/patients/{{ p.id }}" class="card-link">View profile</a>
					    <a href="/patients/{{ p.id }}/new-prescription" class="card-link">New prescription</a>
					</div>
				  </div>
				</div>
			{% endfor %}
		</div>
		<div>
			<p><a href="/new-patient">Add patient</a></p>
		</div>
	</div>
{% endblock %}