<!DOCTYPE html>

<html>
	<head>
		<!-- Bootstrap and jquery CDN -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

		<script src="https://kit.fontawesome.com/c442739eed.js" crossorigin="anonymous"></script>

		<style>
			.container.main {
				padding-top: 20px;
			}

			.container.main#patient-pf {
				max-width: none;
				width: 90%;
			}

			.dashboard-tab-content {
				padding-top: 20px;
			}

			.card.patient-card {
				max-width: 250px;
				min-width: 250px;
			}

			.progress-container {
				display: flex;
			}

			.progress-bar-wrapper {
				margin-right: 30px;
				margin-bottom: 30px;
				width: 100%;
			}

			th.col-progress {
				width: 10%;
			}

			.dashboard-progress {
				width: 100%;
			}
		</style>
	</head>

    <body>
    	<!-- navbar -->
    	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <a class="navbar-brand" href="/home">
		  	<img src={{url_for("static", filename="logo.png")}} height="40">
		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  	<form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
		    </form>
		    <ul class="navbar-nav mr-auto">
			    {% if current_user.is_authenticated %}
			      <li class="nav-item active">
			        <a class="nav-link" href="/dashboard">Dashboard</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Patients</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Help</a>
			      </li>
				{% endif %}
			</ul>

		    <ul class="navbar-nav">
			      {% if current_user.is_authenticated %}
			      	  <li class="nav-item">
					      <span class="navbar-text">
					      	Welcome, Dr. {{ current_user.lastname }} |
					      </span>
					  </li>
				      <li class="nav-item">
				      	<a class="nav-link" href="/logout">Sign out</a>
				      </li>
			      {% else %}
				      <li class="nav-item active">
				        <a class="nav-link" href="/login">Sign in</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="/register">Register</a>
				      </li>
			      {% endif %}
		  	</ul>
		  </div>
		</nav>
		<!-- end navbar -->

		{% block splash %} {% endblock %}
		{% block about %} {% endblock %}
		{% block register %} {% endblock %}
		{% block login %} {% endblock %}
		{% block logout %} {% endblock %}
		{% block add_patient %} {% endblock %}
		{% block patient_profile %} {% endblock %}
		{% block add_prescription %} {% endblock %}
		{% block cards %} {% endblock %}  <!-- only visible after user logs in -->
    </body>
</html>
