<!DOCTYPE html>

<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166039427-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-166039427-1');
		</script>
		<title>Sparkle Medication</title>
		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="256x256" href="/static/img/hand-with-a-pill.png">
		<link rel="manifest" href="/static/site.webmanifest">

		<!-- Bootstrap and jquery CDN -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Custom fonts for this template-->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <script src="https://kit.fontawesome.com/c442739eed.js" crossorigin="anonymous"></script>

	<!-- Bootstrap and jquery CDN -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />


		<style>
			.container.main {padding-top: 20px;}
			.container.main#patient-pf {max-width: none; width: 90%;}
			.dashboard-tab-content {padding-top: 20px;}
			.card.patient-card {max-width: 250px; min-width: 250px;}
			.progress-container {display: flex;}
			.progress-bar-wrapper {margin-right: 30px; margin-bottom: 30px; width: 99%;}
			th.col-progress {width: 10%;}
			.dashboard-progress {width: 100%;}
		</style>
	</head>

    <body>
    	<!-- navbar -->
    	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <a class="navbar-brand" href="/home">
		  	<img src={{url_for("static", filename="img/logo.png")}} height="40">
		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
			    {% if current_user.is_authenticated %}
			      <li class="nav-item active">
			        <a class="nav-link" href="/dashboard"
			           onclick="gtag('event','click',{'event_category':'engagement', 'event_label':'dashboard-page', 'value':1})">Dashboard</a>
			      </li>
			      <li class="nav-item active">
			        <a class="nav-link" href="/patients"
			           onclick="gtag('event','click',{'event_category':'engagement', 'event_label':'patients-page', 'value':1})">Patients</a>
			      </li>
			      <li class="nav-item active">
			        <a class="nav-link" href="/about"
			           onclick="gtag('event','click',{'event_category':'engagement', 'event_label':'about-page', 'value':1})">About</a>
			      </li>
				{% endif %}
			</ul>

		    <ul class="navbar-nav">
			      {% if current_user.is_authenticated %}
			      	  <li class="nav-item">
					      <span class="navbar-text">
					      	Welcome, Dr. {{ current_user.lastname }} |
					      </span>
					  </li>
				      <li class="nav-item">
				      	<a class="nav-link" href="/logout">Sign out</a>
				      </li>
			      {% else %}
				      <li class="nav-item">
				        <a class="nav-link" href="/login">Sign in</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="/register">Register</a>
				      </li>
			      {% endif %}
		  	</ul>
		  </div>
		</nav>
		<!-- end navbar -->

		{% block splash %} {% endblock %}
		{% block about %} {% endblock %}
		{% block register %} {% endblock %}
		{% block analytics %} {% endblock %}
		{% block login %} {% endblock %}
		{% block logout %} {% endblock %}
		{% block add_patient %} {% endblock %}
		{% block profile %} {% endblock %}
		{% block add_prescription %} {% endblock %}
		{% block cards %} {% endblock %}  <!-- only visible after user logs in -->
    </body>
</html>
