{% extends "index.html" %}

{% block login %}
	<div class="container main">
		<h3>Sign in</h3>
	    <form method="POST">
	    	{{ form.csrf_token }}
	    	<div class="form-group">
	    		<label for="username">{{ form.username.label }}</label>
	    		<input id="username" class="form-control" name="username" required>
			</div>
			<div class="form-group">
	    		<label for="password">{{ form.password.label }}</label>
	    		<input id="password" name="password" class="form-control" required type="password">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
	    </form>
	</div>
{% endblock %}