{% extends "base.html" %}

{% block patients_sidebar %}
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-user"></i>
          <span>Patients</span>
        </a>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Status:</h6>
            <a class="collapse-item" href={{url_for("patients")}}>All Patients</a>
            <a class="collapse-item" href="/patients_unprescribed">Unprescribed</a>
            <a class="collapse-item" href={{url_for("patients_deviating")}}>Deviating</a>
            <a class="collapse-item active" href="/patients_ontrack">On-Track</a>

          </div>
        </div>
      </li>
{% endblock %}

{% block patients_ontrack %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">On-Track Patients</h1>
            </div>

            <div class="h5 mb-0 font-weight-bold text-gray-800">
    			   <p><a href="/new-patient"><i class="fas fa-plus text-blue-300"></i> Add patient</a></p>
    		    </div>

          <div class="row">




            <!-- adhering_patients -->
            {% for p in adhering_patients %}
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">

                    <div class="col mr-2">
                        <div class="text-s font-weight-bold text-success text-uppercase mb-1"><b>{{ p.lastname }}</b>, {{ p.firstname }}</div>
            <div class="h6 mb-0 mr-3 font-weight-medium text-gray-800">Age: {{ p.age }}</div>
                        <div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">{{ p.prescriptions|length }} prescription{{'' if p.prescriptions|length == 1 else 's' }}</div>
                    </div>

                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>


                    <div class="col-auto">
                      <!-- <i class="fas fa-clipboard-list fa-2x text-gray-300"></i> -->
                    </div>

                </div>
          <div style="padding-top: 10px;">
          {% for rx in p.prescriptions %}
            {% if not rx.has_started() %}
              <span class="badge badge-pill badge-secondary">
                {{ rx.drug }}
              </span>
            {% else %}
              <span class="badge badge-pill badge-{% if not rx.is_adherent() %}danger{% else %}success{% endif %}">
                {{ rx.drug }}
              </span>
            {% endif %}
          {% endfor %}
          </div>
            <div style="padding-top: 10px;" class="text-s font-weight-bold text-warning">
              <a href="/patients/{{ p.id }}" class="card-link">Profile</a>
              <a href="/patients/{{ p.id }}/new-prescription" class="card-link">New prescription</a>
          </div>
                </div>

              </div>
            </div>
            {% endfor %}






        </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->


{% endblock %}
