{% extends "index.html" %}

{% block register %}
	<div class="container main">
		<h3>Register</h3>
	    <form method="POST">
	    	{{ form.csrf_token }}
	    	<div class="form-group">
	    		<label for="firstname">{{ form.firstname.label }}</label>
	    		<input id="firstname" class="form-control" name="firstname" required>
			</div>
			<div class="form-group">
	    		<label for="lastname">{{ form.lastname.label }}</label>
	    		<input id="lastname" class="form-control" name="lastname" required>
			</div>
			<div class="form-group">
	    		<label for="username">{{ form.username.label }}</label>
	    		<input id="username" class="form-control" name="username" required>
			</div>

			<div class="form-group">
	    		<label for="email">{{ form.email.label }}</label>
	    		<input id="email" class="form-control" name="email" required>
			</div>

			<div class="form-group">
	    		<label for="password">{{ form.password.label }}</label>
	    		<input id="password" name="password" class="form-control" required type="password">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
	    </form>
	</div>
{% endblock %}