name: docs

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout master
        uses: actions/checkout@v1

      - name: Build docs
        uses: ammaraskar/sphinx-action@master
        with:
          docs-folder: docs
          build-command: make html

      - name: Commit changes to docs
        run: |
          git clone https://github.com/ammaraskar/sphinx-action-test.git --branch gh-pages --single-branch gh-pages
          git config --local user.email "action@github.com"
          git config --local user.name "Github Action"
          cp -r docs/build/html/* gh-pages/ && cd gh-pages
          git add .
          git commit -m "update docs" || true

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          branch: gh-pages
          directory: gh-pages
          force: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
