name: lint

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout master
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Set up python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Lint with flake8
        run: |
          pip install --upgrade pip
          pip install --upgrade flake8
          flake8 . --select=E9,F4,F63,F7,F82,F84 --statistics
          flake8 . --exit-zero --max-complexity=10 --max-line-length=88 --statistics

      - name: Enforce code style with black
        uses: lgeiger/black-action@master
        with:
          args: .

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4.1.5
        with:
          commit_message: "style: reformat with black"
          commit_author: "Github Actions <actions@github.com>"
          branch: ${{ github.head_ref }}
